@model Website.Models.PlayerGameInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PlayerGameInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Initials)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Initials)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LevelCompleteTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LevelCompleteTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
